body {
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  background-image: url('../images/home.png');
  background-size: 100%;
  color: #FFFFFF;
  font-smoothing: antialiased;
}

h1 {
  @extend .text-uppercase;
  background-color: rgba(51,204,255,.5);
  font-size: 50px;
  line-height: 1.25;
  padding: 20px;
}

.content {
  h1 {
    margin: 0;
  }
}

.content__container {
  background-color: rgba(255,255,255,0.9);
  box-sizing: border-box;
  color: rgb(119,119,119);
  margin-bottom: 20px; 
  padding: 20px;
  padding-bottom: 40px;
  h2 {
    margin-bottom: 20px;
  }
  p, div, h2 {
    margin: 10px;
  }
  p {
    line-height: 1.75;
  }
}

.home__portrait {
  background-image: url('../images/alan.png');
  background-size: cover;
  display: none;
  height: 427px;
}

.img {
  border: 5px solid rgb(219,219,219);
}

.navbar {
  margin-bottom: 0;
  margin-top: 20px;
}

.navbar-inner {
  border-radius: 0;
}

@media only screen and (min-width: 724px) {
  .home__portrait {
    display: block;
  }

  .site__navbar {
    border-bottom: 3px solid rgb(144, 144, 144);
  }
}

@media only screen and (min-width: 740px) {
  .navbar {
    margin-top: 0;
  }

  .content__container {
    margin-top: 20px;
    margin-bottom: 100px;
  }

  .content {
    h1 {
      margin-top: 20px;
    }
  }
}
